{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Home Page</h1>
                <p>This is some text</p> 

                <p>We have been over this {{index .IntMap "testing"}} times.
                    
                    Let´s try going to the <a href="/about">about page</a>.
                </p>

                
            </div>
        </div>
    </div>
{{end}}